.footer{
    padding: 80px 0 50px 0;
    .social-links{
        display: flex;
        a{
            margin-right: 10px;
            width: 30px;
            
            svg{
                width: 100%;
                
            }

            .st0{
                fill:$primary;
                transition: all .3s ease-in-out;
            }

            &:hover{
                .st0{
                    fill:$secondary;
                }
            }
        }
    }

    p{
        color: $primary;
        margin-top: 5px;
    }
}

.maintenanceFooter{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}