body{
    // background: $primary;
}

p{
    font-size: 18px;
    line-height: 1.2;
}

.max-width{
    max-width: 880px;
    margin: 0 auto;
    padding: 40px;
}

ul{
    list-style-type: none;

    li{
        list-style-type: none;
    }
}

a{
    text-decoration: none;
}