body{
    // background: $primary;
}

#app{
    max-width: 880px;
    margin: 0 auto;
}

ul{
    list-style-type: none;

    li{
        list-style-type: none;
    }
}

a{
    text-decoration: none;
}