header{
    text-align: left;
    padding: 120px 0;
    background: $header; 
    position: relative;
    margin-bottom: 150px;

    svg{
        bottom: -70px;
        position: absolute;
        left: 0;
        width: 100%;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 33px;
    }
}