.image-text-block{
    display: flex;
    margin-bottom: 75px;

    .content{
        flex: 0 0 60%;
        padding-right: 80px;
        h3{
            font-size: 28px;
            margin-bottom: 14px;
        }
        p{
            font-size: 18px;
            margin-bottom: 8px;
        }
    }

    &--image{
        flex: 1;
    }
}
