.nav{
    background: $header;
    position: fixed;
    z-index: 1000;
    width: 100%;

    &--container{
        display: flex;
        align-items: center;
        height: 72px;

        &.max-width{
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    a{
        color: white;
        margin-right: 30px;
        display: block;
    }
}