.nav{
    background: $header;

    &--container{
        display: flex;
        align-items: center;
        height: 72px;
    }

    a{
        color: white;
        margin-right: 30px;
        display: block;
    }
}