.nav{
    background: $header;
    position: fixed;
    z-index: 1000;
    width: 100%;

    &--container{
        display: flex;
        align-items: center;
        height: 72px;

        &.max-width{
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    a{
        color: white;
        margin-right: 30px;
        display: block;
    }
}

.router-link-active{
    &:after{
        content: '';
        background: white;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: all .2s ease-in-out;
    }
}