.project{
    margin: 50px 0 150px 0;
    
    h2{
        font-size: 36px;
    }

    h3{
        font-size: 24px;
        margin-top: 30px;
    }

    .content{
        width: 100%;
        display: flex;

        p{
            margin-top: 10px;
        }

        .creative{
            flex: 0 1 80%;
            padding-right: 40px;
        }

        .built-with{
            flex: 1 0 20%;
        }
    }
}