.creator{
    .st0{fill:#BDD1FF;}
	.st1{fill:#283689;}
	.st2{fill:#8FA6EF;}
	.st3{fill:#505ABA;}
	.st4{fill:#2B478B;}
	.st5{fill:#778DE8;}
	.st6{fill:#E27227;}
	.st7{fill:#1C3870;}
	.st8{fill:#8C9DF4;}
	.st9{fill:#1B376D;}
	.st10{fill:#F99746;}
	.st11{opacity:0.7;}
	.st12{fill:#D86713;}
	.st13{fill:#A8D29F;}
	.st14{fill:#82B378;}
	.st15{opacity:0.1;}
	.st16{fill:#DDE7FE;}
	.st17{fill:#EBF2F9;}
	.st18{fill:#D5E5FB;}
	.st19{fill:#E2EEFD;}
	.st20{fill:#9DB0F4;}
	.st21{fill:#AFCDFB;}
	.st22{fill:#AEC3FF;}
	.st23{fill:#819DEA;}
	.st24{fill:#C5D7FF;}
	.st25{fill:#D36D1A;}
	.st26{fill:#F49540;}
	.st27{fill:#FFA255;}
	.st28{fill:#F8FCFF;}
	.st29{opacity:0.5;}
	.st30{fill:#ED7D2B;}
	.st31{fill:#131375;}
	.st32{fill:#060633;}
	.st33{fill:#829CE8;}
	.st34{fill:#ED975D;}
	.st35{fill:#FFB27D;}
	.st36{fill:#A9453D;}
	.st37{fill:#7A96E5;}
	.st38{fill:#233862;}
	.st39{fill:#EF873A;}
	.st40{fill:#F77D48;}
	.st41{fill:#15156D;}
	.st42{fill:#FA7267;}
	.st43{fill:#17152B;}
	.st44{opacity:0.3;}
	.st45{fill:#EA9963;}
	.st46{fill:#6980E2;}
	.st47{fill:#9FB1FF;}
	.st48{fill:#182D4C;}
	.st49{fill:#B5453C;}
	.st50{fill:#EFCBAB;}
	.st51{fill:#699DEE;}
	.st52{fill:#548EE2;}
}