.logo{
	.st0{fill:#64C6F2;}
	.st1{fill:#F3ABC6;}
	.st2{fill:#71CAF3;}
	.st3{fill:#55B7EE;}
	.st4{fill:#40A6E9;}
	.st5{opacity:0.5;fill:#55B7EE;}
	.st6{fill:#0091BA;}
	.st7{opacity:0.5;fill:#40A6E9;}
	.st8{fill:#FFFFFF;}
	.st9{fill:#C0E7F9;}
	.st10{opacity:0;fill:#EC0C90;}
	.st11{opacity:0.14;fill:#FFFFFF;}
	.st12{fill:#191C25;}
	.st13{fill:#EC8BAB;}
}

.illustrator{
	.st0{fill:#330000;}
	.st1{fill:#FF9A00;}
}