#project{

    &.pos-forecasting{
      .projectHeader {
        background: rgb(41,71,234);
        background: linear-gradient(87deg, rgba(41,71,234,1) 0%, rgba(0,0,238,1) 100%);
      }
    }

    .projectHeader {
        &Velocity{
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f19b7d+0,f1a189+100 */
          background: linear-gradient(to right,  #f19b7d 0%,#f1a189 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &Freejoas {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4e866e+0,08653d+100 */
          background: linear-gradient(to right,  #4e866e 0%,#08653d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &BoysNight {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3d4278+0,081165+100 */
          background: linear-gradient(to right,  #3d4278 0%,#081165 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
      
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 800px;
        }
      }
      
      strong{
          font-weight: 400;
      }
      
      .bg{
        background: #f0f4ff
      }
      
      ul{
          list-style-type: disc;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 40px;
      }
      
      li{
          list-style-type: disc;
          font-weight: 200;
      }
      
      .img--container{
        width: 100%;
        margin-bottom: 32px;
      }
      
      .img--container img{
        max-width: 100%;
      }
      
      section h1{
          font-size: 28px;
          margin-bottom: 32px;
      }
      
      section.mainSection h1{
          font-size: 40px;
      }
      
      section h2{
          font-size: 20px;
          margin-bottom: 16px;
      }
      
      p, li{
          line-height: 1.75;
          font-size: 18px;
          font-weight: 200;
          margin-bottom: 16px;
      }
      
      section .containerLeftRight{
          display: flex;
      }
      
      section .containerLeftRight .left{
          flex: 0 0 70%;
          padding-right: 32px;
      }
      
      section .containerLeftRight .right{
          flex: 0 0 30%;
      }
      
      section .exerpt{
          margin-bottom: 16px;
          font-weight: 400;
          text-align: center;
          font-size: 28px;
      }

      .creative {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .font-heading {
        font-size: 64px
      }

      .font-subheading {
        font-size: 48px;
      }
}